@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

.bug-title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: "EB Garamond", serif;
}

.bug-title::before {
  content: "🐛";
}

.to-engineer {
  font-weight: 500;
}

.app-title {
  font-weight: 700;
  font-family: "EB Garamond", serif;
}
